<div class="header-wrapper">
	<div class="header-logo">
		<h1>m.yamanaka<span>fotografia</span></h1>
	</div>
	<ul class="header-menu">
			<li class="item">quem sou <span>></span></li>
			<li class="subitem"><p>Sed euismod eros magna, tristique cursus nulla. Suspendisse at quam est, in blandit neque. Maecenas pharetra ultrices erat, et auctor sapien ultricies non. Nullam at velit sem, quis volutpat dui. Vivamus id sollicitudin ligula. Donec at massa neque, et euismod metus. Aenean feugiat venenatis tellus eget interdum. Donec quam purus, commodo sed mollis sit amet, pharetra in orci.</p></li><br />
			<li class="subitem"><p>Sed euismod eros magna, tristique cursus nulla. Suspendisse at quam est, in blandit neque. Maecenas pharetra ultrices erat, et auctor sapien ultricies non. Nullam at velit sem, quis volutpat dui. Vivamus id sollicitudin ligula. Donec at massa neque, et euismod metus. Aenean feugiat venenatis tellus eget interdum. Donec quam purus, commodo sed mollis sit amet, pharetra in orci.</p></li>
	</ul>
	<ul class="header-menu">
			<li class="item">portfólio <span>></span></li>
			<li class="subitem"><a href="/galerias/moda">moda</a></li>
			<li class="subitem"><a href="/galerias/musica">música</a></li>
			<li class="subitem"><a href="/galerias/familia">família</a></li>

	</ul>
	<ul class="header-menu">
			<li class="item">contato <span>></span></li>
			<li class="subitem">muriloyamanaka@gmail.com</li>
			<li class="subitem">facebook.com/murilo.yamanaka</li>
	</ul>
	<%= content_for :menu_gallery %>
</div>